os:
- linux
language: java
jdk:
  - oraclejdk8
env:
  - NODE_VERSION=6.7.0
addons:
  ssh_known_hosts: $MAIN_SERVER
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - oracle-java8-installer
    - lib32stdc++6
    - lib32z1
before_install:
  - openssl aes-256-cbc -K $encrypted_626e8213c3c9_key -iv $encrypted_626e8213c3c9_iv -in deploy_rsa.enc -out deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 deploy_rsa
  - ssh-add deploy_rsa
  - export LANG=en_US.UTF-8
install:
  - echo install
  - scp -r -o StrictHostKeyChecking=no -i deploy_rsa web/* root@162.243.118.87:/var/www/html/
before_script:
  - echo before_script
  - echo $JAVA_HOME
  - java -version
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
script:
  - echo script
after_script:
  - echo after_script
  - rm -rf *